/*----------------- ESTILOS GENERALES -----------------*/
/*-------------------------------------------------------*/
body {
    background-color: #201109;
}

@font-face {
  font-family: "SierraBriston";
  src: url("../../fonts/SierraBriston.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


/*La fuente se usa principalmente para el titulo del formulario
  de login y el nombre del servicio en el lobby*/
.f-sierra{
  font-family: "SierraBriston", sans-serif;
}


/*Tamaño de las etiquetas de la mayoria de los formularios*/
.form-label{
    font-size: larger;
}

/*Animacion de fade in*/
#fade-in {
  opacity: 0;
  transition: opacity 0.5s ease;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/



/*----------------- FORMULARIO DE LOGIN -----------------*/
/*-------------------------------------------------------*/
/*Cobertor de fondo de pantalla en pagina de login*/
#fondo-login {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}


/*Estilos y posiciones del formulario de login*/
#formulario-login {
    width: 20dvw;
    height: 40dvh;
    background-color: rgba(165, 80, 10, 0.3);
    max-height: 23rem;
    min-width: 23rem;
    min-height: 21rem;
    border-width: 0;
    border-radius: 15px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    transform: scale(1);
    
}

/*Estilos del formulario de login ON HOVER*/
#formulario-login:hover {
    border-color: rgb(0, 102, 255);
    box-shadow: 0 0 8px rgb(68, 127, 255);
    transform: scale(1.05);
}

/*Estilo degrade en titulo del login y su boton ocular pass*/
.degrade-login {
  background: linear-gradient(90deg, hsl(0, 0%, 95%), #f06413);
  -webkit-background-clip: text; /* para Chrome, Safari */
  -webkit-text-fill-color: transparent; 
  background-clip: text; /* para navegadores modernos */
  color: transparent; /* fallback */
}


#button-sbt-login {
    background-color: rgb(27, 88, 255)
}


/*Color de fondo en los inputs del login*/
.form-control.login {
    background-color: black;
}


/*Titulo en formulario de login*/
.title-login {
  font-size: 2.2rem;
  font-weight: bold;
}


/*Color de las etiquetas en formulario de login*/
.login-label {
    color: white;
    font-size: larger;
}


/*Color de fondo de los inputs del login*/
#login-pass-input, #login-user-input {
  color:  white;
}


/*Estilos de los inputs del login ON FOCUS*/
#login-pass-input:focus,
#toggle-pass:focus {
  outline: none;
  box-shadow: none;
}


/*Color de fondo del boton "ver contraseña" en 
  formulario login */
#toggle-pass {
  background-color: black
}


/*Recuadro de inputs del login a ser invalidas
  las credenciales*/
.form-control.is-invalid + #toggle-pass {
  border: 1px solid #dc3545;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/




/*------------- PAGINA DEL LOBBY (Principal) ------------*/
/*-------------------------------------------------------*/
/*Estilo degrade en titulo del servicio en lobby
 y boton de barra superior*/
.degrade-lobby {
  background: linear-gradient(90deg, #59d0ff, #fc6914);
  -webkit-background-clip: text; /* para Chrome, Safari */
  -webkit-text-fill-color: transparent; 
  background-clip: text; /* para navegadores modernos */
  color: transparent; /* fallback */
}


/*Estilos del contenedor de texto de biografia en lobby*/
#bio-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 0.5vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*Alineacion de los H@ en contenedor de bio*/
#bio-container h2:last-of-type {
  align-self: flex-end;
  text-align: right;
  width: 100%;
}


/*Alineacion del contenedor del logo principal del lobby*/
#lobby-logo, #index-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#index-back {
  min-height: 80vh;
  transition: opacity 2s ease;
  opacity: 0;
}

/*Imagen del logo del servicio en la pagina del lobby*/
.navbar-brand-image {
    height: 18vh;
    width: auto;
}

/*Tamaño del titulo del servicio en la pagina del lobby*/
.logo-title-lobby {
  font-size: 1.7rem;
}
/*-------------------------------------------------------*/
/*-------------------------------------------------------*/




/*-------------------- LOBBY LOGO  ----------------------*/
/*-------------------------------------------------------*/

.navbar-dark {
  background-color: #160c06 !important;
}

.supbar-lobby,.navbar-dark {
  background-color: #021a3d !important;
}

/*-------------------------------------------------------*/
/*-------------------------------------------------------*/


#status-code, #status-message {
  color: white;
}



