<div class="modal modal-blur fade" id="modal-advertencia" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-warning"></div>
      <div class="modal-body text-center py-4">
        <i class="text-warning fa-solid fa-triangle-exclamation fa-2x"></i>
        <h3 id="modal-advertencia-title">Advertencia</h3>
        <div id="modal-advertencia-text" class="text-muted modal-text"></div>
      </div>
    </div>
  </div>
</div>