<div class="modal modal-blur fade" id="modal-modificados" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-success"></div>
      <div class="modal-body text-center py-4">
        <i class="text-success fa-solid fa-circle-check fa-2x"></i>
        <h3 id="modal-modificados-title">Éxito</h3>
        <div id="modal-modificados-text" class="text-muted modal-text">Los datos fueron modificados correctamente</div>
      </div>
    </div>
  </div>
</div>