<div id="bio-container">
    <h2 class="mb-2 fs-2">"Ariadna, de mente sagaz, decidió ayudar al principe ateniense.</h2>
    <h2 class="mb-2 fs-2">Sin más, le entregó un ovillo de hebra fuerte y resistente.</h2>
    <h2 class="mb-2 fs-2">Con este amuleto entró a la morada del Minotauro:</h2>
    <h2 class="mb-2 fs-2">Laberinto en donde incluso la luz del Sol se extraviaba para siempre. </h2>
    <h2 class="mb-2 fs-2">Y luego de matar a la Bestia mitad buey, mitad humano,"</h2>
    <h2 class="mb-2 fs-2">Teseo uso el rastro de hilo para encontrar el camino de regreso."</h2>
    <br>
    <h2 class="mb-2 fs-2"><em>Apolodoro, 3.1.2-4</em></h2>
</div>