{% if not error %}
  {% include "sqladmin/login-logo.html" %}
{% endif %} 


<div class="d-flex align-items-center justify-content-center vh-100">
    {% if not error %}
    <form style="display: none;" id="div-form" class="Fcol-lg-6 col-md-6 card card-md" action="{{ url_for('admin:login') }}" method="POST" autocomplete="off">
    {% else %}
    <form id="div-form" class="Fcol-lg-6 col-md-6 card card-md" action="{{ url_for('admin:login') }}" method="POST" autocomplete="off">  
    {% endif %}
      <div class="card-body">
        <h1 class="text-center mb-4 f-sierra title-login degrade">{{ admin.title }}</h1>
        <div class="mb-3">
          <label class="form-label login-label">Usuario</label>
          {% if error %}
          <input id="login-user-input" name="username" type="text" class="form-control login is-invalid" placeholder="Ingrese usuario"
            autocomplete="off">
          {% else %}
          <input id="login-user-input" name="username" type="text" class="form-control login" placeholder="Ingrese usuario" autocomplete="off">
          {% endif %}
        </div>
        <div class="mb-2">
          <label class="form-label login-label">
            Contraseña
          </label>
          <div class="input-group">
            <input id="login-pass-input" name="password" type="password" class="form-control login{% if error %} is-invalid{% endif %}" placeholder="Ingrese contraseña" autocomplete="off">
            <button type="button" class="btn" id="toggle-pass" tabindex="-1">
              <span id="eye-icon" class="fa-solid fa-eye-slash degrade"></span>
            </button>
            {% if error %}
              <div class="invalid-feedback">{{ error }}</div>
            {% endif %}
          </div>
        </div>
        <div class="form-footer">
          <button id="button-sbt" type="submit" class="btn btn-primary w-100">Ingresar</button>
        </div>
      </div>
    </form>
  </div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const passInput = document.getElementById("login-pass-input");
    const toggleBtn = document.getElementById("toggle-pass");
    const eyeIcon = document.getElementById("eye-icon");
    toggleBtn.addEventListener("click", function() {
      if (passInput.type === "password") {
        passInput.type = "text";
        eyeIcon.className = "fa-solid fa-eye degrade";
      } else {
        passInput.type = "password";
        eyeIcon.className = "fa-solid fa-eye-slash degrade";
      }
    });
  });
</script>